.container{
    display: block;
    height: 300px;
    width: 100%;
}

/*h3{
    display: block;
}*/

.input-div{
    border-style: solid; 
    float: left;
    color: blue;
    height: 900px;
    width: 33%;
}

.app-div{
    border-style: solid; 
    float: right;
    color: red;
    width: 65%;
    height: 900px;
}


/* Select Styles */

select {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;       /* remove default arrow */
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;   /* add custom arrow */
    height: 34px;
    width: 175px;
}

/*
select {
    appearance: none;
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
    height: 34px;
    width: 240px;
}*/



/* Fermentables */

.fermentables_weight {
    width: 100%;
}

.grain_percents{
    float: left;
}

.chartDiv{
    float: right;
}