<div class='container'>
  <div class='input-div'>
    
    <h3>Chemistry</h3>

      <div style='display: block;'>

        <div style='display: inline-block;'>
          <label style='display: block;'>Init Ca</label>
          <input type=text size=10 name=init_Ca value=5>
        </div>

        <div style='display: inline-block;'>
          <label style='display: block;'>Init Mg</label>
          <input type=text size=10 name=init_Mg value=5>
        </div>

        <div style='display: inline-block;'>
          <label style='display: block;'>Init Na</label>
          <input type=text size=10 name=init_Na value=5>
        </div>

        <div style='display: inline-block;'>
          <label style='display: block;'>Init Cl</label>
          <input type=text size=10 name=init_Cl value=5>
        </div>

        <div style='display: inline-block;'>
          <label style='display: block;'>Init Na</label>
          <input type=text size=10 name=init_Na value=5>
        </div>

        <div style='display: inline-block;'>
          <label style='display: block;'>Init SO4</label>
          <input type=text size=10 name=init_SO4 value=5>
        </div>

        <div style='display: inline-block;'>
          <label style='display: block;'>Init HCO3_CaCO3</label>
          <input type=text size=10 name=init_HCO3_CaCO3 value=5>
        </div>

        <div style='display: inline-block;'>
          <label style='display: block;'>Init Na</label>
          <input type=text size=10 name=init_Na value=5>
        </div>

        <div style='display: inline-block;'>
          <label style='display: block;'>Actual pH</label>
          <input type=text size=10 name=actual_ph value=5>
        </div>

        <div style='display: inline-block;'>
          <label style='display: block;'>Effective Alkalinity</label>
          <input type=text size=10 name=effective_alkalinity value=5>
        </div>

        <div style='display: inline-block;'>
          <label style='display: block;'>Residual Alkalinity</label>
          <input type=text size=10 name=residual_alkalinity value=5>
        </div>

        <div style='display: inline-block;'>
          <label style='display: block;'>pH Down Gypsum CaSO4</label>
          <input type=text size=10 name=ph_down_gypsum_CaSO4 value=5>
        </div>

        <div style='display: inline-block;'>
          <label style='display: block;'>pH Down Cal Chl CaCl2</label>
          <input type=text size=10 name=ph_down_cal_chl_CaCl2 value=5>
        </div>

        <div style='display: inline-block;'>
          <label style='display: block;'>pH Down Epsom Salt MgSO4</label>
          <input type=text size=10 name=ph_down_epsom_salt_MgSO4 value=5>
        </div>

        <div style='display: inline-block;'>
          <label style='display: block;'>pH Up Slaked Lime CaOH2</label>
          <input type=text size=10 name=ph_up_slaked_lime_CaOH2 value=5>
        </div>

        <div style='display: inline-block;'>
          <label style='display: block;'>pH Up Baking Soda NaHCO3</label>
          <input type=text size=10 name=ph_up_baking_soda_NaHCO3 value=5>
        </div>

        <div style='display: inline-block;'>
          <label style='display: block;'>pH Up Chalk CaCO3</label>
          <input type=text size=10 name=ph_up_chalk_CaCO3 value=5>
        </div>

      </div>

    </div>

    <div class='app-div'>stuff</div>

</div>
