
<!DOCTYPE html>
<html>
<head>
    <title>Ajax Test with jQuery</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <link rel="stylesheet" href="../static/css/my_styles.css">
</head>

<body>


<p id=messages></p>

<h1>Brewculator</h1>

<!--Set Website Route
(figure this out later; notes said to do it)
-->
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>


<label style='display: inline-block;'>Recipe</label>
<input type=text size=5 name=recipe value=initial>
<label style='display: inline-block;'>Styles</label>
<select name='style'>      
    {% for style in Styles %}
    <option> {{ style.styles }}</option>  
    {% endfor %}
</select>
<br>
<input id=load type="button" value="Load">
<input id=save type="button" value="Save"> 
<input id=delete type="button" value="Delete"> 

<!-- System Section -->
{% include 'system.html' %}

<!-- Fermentables Section -->
{% include 'fermentables.html' %}

<!-- Hops Section -->
{% include 'hops.html' %}

<!-- Mash Section -->
{% include 'mash.html' %}

<!-- Yeast Section -->
{% include 'yeast.html' %}

<!-- Water Section -->
{% include 'water.html' %}

<!-- Fermentation Section -->
{% include 'fermentation.html' %}

<!-- Chemistry Section -->
{% include 'chemistry.html' %}





<br><br><br>
<label style='display: block;'>App Area</label>
<span id=app style='border-style: solid;'>initial state</span>

<!-- App Scripts -->
<script src="../static/js/fermentables.js"></script>

<!-- Load Script -->
<script src="../static/js/load.js"></script>

<!-- Save Script -->
<script src="../static/js/save.js"></script>

<!-- Delete Script -->
<script src="../static/js/delete.js"></script>


</body>
</html>
















