<div class='container'>
  <div class='input-div'>
    
    <h3>Mash</h3>

    <div style='display: block;'>

        <div style='display: inline-block;'>
          <label style='display: block;'>Init Grain Temp</label>
          <input type=text size=10 name=init_grain_temp value=70>
        </div>
        
        <div style='display: inline-block;'>
          <label style='display: block;'>Infusion Temp</label>
          <input type=text size=10 name=infusion_temp value=1>
        </div>
        
        <div style='display: inline-block;'>
          <label style='display: block;'>Sacc Rest Temp</label>
          <input type=text size=10 name=sacc_rest_temp value=60>
        </div>

    </div>

    <div style='display: block;'>

        <div style='display: inline-block;'>
          <label style='display: block;'>Mash Duration</label>
          <input type=text size=10 name=mash_duration value=4>
        </div>

        <div style='display: inline-block;'>
          <label style='display: block;'>Mash Volume</label>
          <input type=text size=10 name=mash_volume value=30>
        </div>

        <div style='display: inline-block;'>
          <label style='display: block;'>Mash Thickness</label>
          <input type=text size=10 name=mash_thickness value=25>
        </div>

        <div style='display: inline-block;'>
          <label style='display: block;'>Mash Out Vol</label>
          <input type=text size=10 name=mash_out_vol value=25>
        </div>

    </div>

  </div>

  <div class='app-div'>stuff</div>
  
</div>

